@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

:root {
    --primary-color: #780116;
    --secondary-color: #F7C25A;
    --accent1-color: #EFC59F;
    --accent2-color: #C32F27;

    --nav-background-color: #53140E;
    --nav-link-color: #F7C25A;
    --nav-hover-link-color: #53140E;
    --nav-hover-background-color: #F7C25A;

    --base-font: 'Faculty Glyphic', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--base-font);
    background-color: white;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    padding: 2.5rem 0;
    gap: 3rem;
}

header span {
    font-size: 2.5rem;
    font-weight: 700;
}

/* navigation */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent1-color);
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    color: var(--accent2-color);
    text-decoration: none;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
nav ul li a:hover {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
}

/* main */
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: left;

}

table { 
    max-width: 100%;
    margin: 0 auto; 
    padding: 2rem;
}
th, td { 
    padding: 0.5rem;
}
table, th, td { 
    border:  1px solid var(--nav-background-color); 
    border-collapse: collapse;
    background-color: var(--accent1-color);
}

/* footer */
footer {
    background-color: var(--nav-hover-background-color);
    color: black;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    margin-top: 2rem;
}